@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Londrina Solid", serif;
  line-height: 1.2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  align-items: center;
}

.header {
  position: relative;
  max-height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-flex {
  display: block;
  width: 100%;
}

.header-content {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  font-size: 1.5rem;
}

.logo-icon {
  width: 40px;
  margin: 0 1rem;
  display: none;
}

h1 {
  font-size: 3rem;
  margin: 0;
  display: block;
  max-width: 10em;
  text-align: center;
  color: pink;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  text-align: center;
}

nav a {
  display: block;
  padding: .5em .75em;
  color: pink;
  background-color: brown;
  text-decoration: none;
}

nav a:hover {
  background-color: pink;
  color: brown;
}

.welcome-big p {
  font-size: 1.75em;
  padding: .5rem 1rem 0;
  text-align: center;
  margin: .5rem;
}

.welcome {
  padding: 0 1rem;
  text-align: center;
  font-family: Oswald, sans-serif;
}

h2 {
  padding-left: 1rem;
  text-align: center;
  margin: 0;
}

.cards {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
}

.card {
  display: block;
}

.card-img {
  padding: 0;
}

.card-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.card-body {
  padding: 0 .5rem;
}

.card-body h3 {
  font-weight: normal;
  margin: .5rem 0 0;
}

.card-body p {
  margin: 0 0 1.3rem;
  font-family: Oswald, sans-serif;
}

.card:nth-child(4) {
  display: none;
}

.card:nth-child(5) {
  display: none;
}

.location img {
  width: 100%;
  display: block;
}

.location {
  padding: 0;
}

.location figcaption {
  padding: 1rem;
  font-size: 1.5rem;
}

.location p {
  font-family: Oswald, sans-serif;
  padding: 0 1rem;
  margin: 0;
}
